
@{
    ViewBag.Title = "AdminKategorier";
}

<div class="jumbotron" style="background-color:grey">
    <h1>SUPER HEMMLIG ADMIN MENU</h1>
    <div class="row">
        <div class="col-md-4 height:20px">
            <button class="button button2" onclick="location.href='@Url.Action("Index", "Tetris")'">TETRIS</button>
        </div>
        <div class="col-md-4">
            <button class="button button2" onclick="location.href='@Url.Action("Index", "Faceits")'">FACEIT</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">MINESWEEPER</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">...</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">...</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">...</button>
        </div>

    </div>


</div>