@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1 class="hvad"><span class="high"></span><span class="high"> <span class="tre">360</span>Highscores</span></h1>
    <button class="button button2" href="~/Views/Home/Kategorier.cshtml">Spil - kategorier</button>

    <button class="button button2">Tilmeld et spil</button>


</div>
