
@{
    ViewBag.Title = "Kategorier";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 height:20px">
            <button class="button button2" onclick="location.href='@Url.Action("Liste", "Tetris")'">TETRIS</button>
        </div>
        <div class="col-md-4">
            <button class="button button2" onclick="location.href='@Url.Action("Liste", "Faceits")'">FACEIT</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">MINESWEEPER</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">...</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">...</button>
        </div>
        <div class="col-md-4">
            <button class="button button2">...</button>
        </div>

    </div>


</div>

