@{
    ViewBag.Title = "Kategorier";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="~/Style/Style.css" rel="stylesheet"/>


<div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">TETRIS</button>
    </div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">FACEIT</button>
    </div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">MINESWEEPER</button>
    </div>
</div>

<div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">TETRIS</button>
    </div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">FACEIT</button>
    </div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">MINESWEEPER</button>
    </div>
</div>

<div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">TETRIS</button>
    </div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">FACEIT</button>
    </div>
    <div class="col-md-4">
        <button class="button button2 btn-padding">MINESWEEPER</button>
    </div>
</div>

<style>
    .btn-padding {
    padding:4em 3em 4em 3em;
    }
</style>